{% extends  'main/base.html' %}
{% load static %}

{% block main %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Ведите свои социальные сети легко и эффективно с нашим ИИ</div>
        <div class="masthead-heading text-uppercase">Сэкономь на маркетинге <br> <span class="na">1 000 000</span> тенге</div>
<!--        <div class="masthead-heading">У нас от <b>29 900</b> тенге!</div>-->
        <a class="btn btn-primary btn-xl text-uppercase" href="#contact">Оставить заявку</a>
    </div>
</header>

<!-- Services-->
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Продукт</h2>
            <h3 class="section-subheading text-muted">Усиливает Ваше присутствие в цифровом пространстве</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-dollar-sign fa-stack-1x fa-inverse"></i>

                </span>
                <h4 class="my-3">Время = деньги</h4>
                <p class="text-muted">Больше не нужно тратить часы на создание контента или платить профессионалам — наш ИИ сделает это за вас</p>
            </div>

            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-regular fa-chess-king fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Стратегия - это основа</h4>
                <p class="text-muted">ИИ помогает строить эффективные маркетинговые стратегии и воронки продаж, увеличивая конверсию и привлекая новых клиентов</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-filter-circle-dollar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Эффективная воронка продаж</h4>
                <p class="text-muted">Наш ИИ помогает строить цепочку касаний с клиентом, увеличивая количество заявок и завершенных сделок</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-solid fa-chart-simple fa-stack-1x fa-inverse"></i>

                </span>
                <h4 class="my-3">Глубокая аналитика</h4>
                <p class="text-muted">Отслеживайте эффективность своих публикаций и воронок продаж, анализируйте результаты и получайте рекомендации по улучшению</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-regular fa-calendar-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Автоматизация и планирования</h4>
                <p class="text-muted">Создавайте и публикуйте посты в социальных сетях по заранее настроенному графику, не отвлекаясь от основных бизнес-задач</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa-regular fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Единая панель управления</h4>
                <p class="text-muted">Все ваши аккаунты в разных социальных сетях — в одном месте. Общайтесь с клиентами и подписчиками через единый чат-хаб</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Сделай правильный выбор</h2>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col"></th>
                          <th scope="col">
                              <span style="color:#3a91e6" class="text-uppercase">Самостоятельно</span>
                          </th>
                          <th scope="col">
                              <span style="color:#ffba00" class="text-uppercase">С помощью ИИ</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><i class="fa-solid fa-bullhorn"></i></th>
                          <td>Маркетолог</td>
                          <td>500 000 тг</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row"><i class="fa-solid fa-hashtag"></i></th>
                          <td>СММ-специалист</td>
                          <td>150 000 тг</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row"><i class="fa-solid fa-bullseye"></i></th>
                          <td>Таргетолог</td>
                          <td>150 000 тг</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row"><i class="fa-solid fa-marker"></i></th>
                          <td>Копирайтер</td>
                          <td>150 000 тг</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row"><i class="fa-solid fa-dice-d20"></i></th>
                          <td>Креативщик</td>
                          <td>150 000 тг</td>
                          <td>0</td>
                        </tr>
                        <tr>
                          <th scope="row">AIM</th>
                          <td>Наш ИИ</td>
                          <td>0</td>
                          <td style="color:#ffba00"><b>29 900 тг</b></td>
                        </tr>
                        <tr>
                          <th scope="row"></th>
                          <td colspan="2">Экономия</td>
                          <td style="color:#3a91e6"><b>1 070 100 тг</b></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">ИИ вместо целой каманды</h2>
            <div class="context-task_block">
                <img style="width: 100%; height: 100%; object-fit: cover;" src="{% static 'assets/img/task-man-ok1.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Как это работает?</h2>
            <h3 class="section-subheading text-muted">Экономь с нами до <b>500 000</b> тенге в месяц</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/about 1.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1 этап</h4>
                        <h4 class="subheading">Маркетинговая стратегия</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">ИИ анализирует ваш бизнес и предлагает эффективную стратегию продвижения.</p><p class="text-muted"><b>Польза:</b> Создай маркетинговую стратегию за 19 900 тенге вместо <span class="na">500 000</span> тенге.</p><p class="text-muted"><b>Результат:</b> Повышение видимости и узнаваемости вашего бизнеса</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/about 2.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2 этап</h4>
                        <h4 class="subheading">Воронка продаж</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Создайте автоматизированную воронку для привлечения и лояльности клиентов.</p><p class="text-muted"><b>Польза:</b> Создай воронку продаж за 9 900 тенге вместо <span class="na">150 000</span> тенге.</p><p class="text-muted"><b>Результат:</b> Готовые темы для социальных сетей на месяцы вперед</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/about 3.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>3 этап</h4>
                        <h4 class="subheading">Создание постов</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">ИИ генерирует качественный контент, адаптированный под вашу аудиторию.</p><p class="text-muted"><b>Польза:</b> Услуги СММ-специалиста за 9 900 тенге вместо <span class="na">150 000</span> тенге.</p><p class="text-muted"><b>Результат:</b> Экономия времени на разработку креативного контента</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/about 4.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>4 этап</h4>
                        <h4 class="subheading">Автопостинг</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Запланируйте публикации на нужные даты на месяцы вперед.</p><p class="text-muted"><b>Польза:</b> Регулярные публикации, повышение вовлечённости и стабильный трафик.</p><p class="text-muted"><b>Результат:</b> Постоянное присутствие в социальных сетях без ручного постинга</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/about 5.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>5 этап</h4>
                        <h4 class="subheading">Единый чат-хаб</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Управляйте сообщениями из всех соцсетей в одном окне.</p><p class="text-muted"><b>Польза:</b> Быстрая и удобная коммуникация с клиентами.</p><p class="text-muted"><b>Результат:</b> Повышение уровня клиентского сервиса и сокращение времени на ответы</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'assets/img/about/about 6.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>6 этап</h4>
                        <h4 class="subheading">Аналитика</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Получайте детальные отчеты по эффективности постов и маркетинговых кампаний.</p><p class="text-muted"><b>Польза:</b> Принятие решений на основе данных для улучшения контента и стратегий.</p><p class="text-muted"><b>Результат:</b> Оптимизация ресурсов и повышение результативности</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h3>
                        <br />
                        Ваш
                        <br />
                        успех!
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Team-->
<section class="page-section pricing bg-light" id="pricing">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Тарифные планы</h2>
            <h3 class="section-subheading text-muted">Выбери себе удобный тариф.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="pricing-item">
                  <h3>Базовый</h3>
                  <h4>29 900</h4><h5>тг/месяц</h5>
                  <ul>
                    <li><i class="fa-solid fa-check"></i>  до 1 компании</li>
                    <li><i class="fa-solid fa-check"></i>  ∞ продуктов</li>
                    <li><i class="fa-solid fa-check"></i>  Маркетинговая стратегия</li>
                    <li><i class="fa-solid fa-check"></i>  Воронка продаж</li>
                    <li><i class="fa-solid fa-check"></i>  Создание постов</li>
                    <li><i class="fa-solid fa-check"></i>  Автопостинг</li>
                    <li><i class="fa-solid fa-check"></i>  Единый чат-хаб</li>
                    <li><i class="fa-solid fa-check"></i>  Аналитика</li>
                  </ul>
                  <a href="#contact" class="btn btn-outline-primary btn-xl">Оставить заявку</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item featured">
                  <h3>Продвинутый</h3>
                  <h4>49 900</h4><h5>тг/месяц</h5>
                  <ul>
                    <li><i class="fa-solid fa-check"></i>  до 3 компании</li>
                    <li><i class="fa-solid fa-check"></i>  ∞ продуктов</li>
                    <li><i class="fa-solid fa-check"></i>  Маркетинговая стратегия</li>
                    <li><i class="fa-solid fa-check"></i>  Воронка продаж</li>
                    <li><i class="fa-solid fa-check"></i>  Создание постов</li>
                    <li><i class="fa-solid fa-check"></i>  Автопостинг</li>
                    <li><i class="fa-solid fa-check"></i>  Единый чат-хаб</li>
                    <li><i class="fa-solid fa-check"></i>  Аналитика</li>
                  </ul>
                  <a href="#contact" class="btn btn-primary btn-xl">Оставить заявку</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-item">
                  <h3>Премиум</h3>
                  <h4>79 900</h4><h5>тг/месяц</h5>
                  <ul>
                    <li><i class="fa-solid fa-check"></i>  до 5 компании</li>
                    <li><i class="fa-solid fa-check"></i>  ∞ продуктов</li>
                    <li><i class="fa-solid fa-check"></i>  Маркетинговая стратегия</li>
                    <li><i class="fa-solid fa-check"></i>  Воронка продаж</li>
                    <li><i class="fa-solid fa-check"></i>  Создание постов</li>
                    <li><i class="fa-solid fa-check"></i>  Автопостинг</li>
                    <li><i class="fa-solid fa-check"></i>  Единый чат-хаб</li>
                    <li><i class="fa-solid fa-check"></i>  Аналитика</li>
                  </ul>
                  <a href="#contact" class="btn btn-outline-primary btn-xl">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <i class="fa-brands fa-square-facebook fa-stack-3x"></i>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <i class="fa-brands fa-square-instagram fa-stack-3x"></i>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <i class="fa-brands fa-vk fa-stack-3x"></i>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <i class="fa-brands fa-linkedin fa-stack-3x"></i>
            </div>
        </div>
    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Оставить заявку</h2>
            <h3 class="section-subheading text-muted">Предварительная заявка для получения 30% скидки!</h3>
        </div>

        <form id="contactForm" method="post" role="form">
        {% csrf_token %}
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        {{ form.city }}
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        {{ form.tariff }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Email address input-->
                        {{ form.email }}
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        {{ form.number }}
                    </div>
                </div>
            </div>
            <div class="text-center">


            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" type="submit">Оставить заявку</button></div>
        </form>
    </div>
</section>


{% endblock %}